<!DOCTYPE html>
<html>

<!-- Mirrored from www.tooplate.com/templates/2093_flight/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 May 2018 10:39:09 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--

    Template 2093 Flight

    http://www.tooplate.com/view/2093-flight

    -->
    <title>@ViewBag.Title</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.html">
    <link rel="stylesheet" href="~/Content/css/bootstrap-theme.min.css">


    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/fontAwesome.css">
    <link rel="stylesheet" href="~/Content/css/hero-slider.css">
    <link rel="stylesheet" href="~/Content/css/owl-carousel.css">
    <link rel="stylesheet" href="~/Content/css/datepicker.css">
    <link rel="stylesheet" href="~/Content/css/tooplate-style.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="~/Scripts/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/js/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/js/plugins.js"></script>
    <link rel="Shortcut Icon" href="~/Asset/img/logo-i.png" type="img/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <script src="~/Scripts/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
    <div class="container-fluid" style="position: absolute; width: 100%; background-color: rgb(0 0 0 / 53%); z-index: 100; ">
        <nav class="navbar container" style="margin-top: 0px; margin-bottom: 0px; padding:20px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="@Url.Action("Index","Home")"><img src="/Asset/img/logo.png" alt="Logo"></a>

                </div>
                <ul class="nav navbar-nav pull-right" ">
                    <li>
                        <a data-toggle="modal" data-target="#signUpModal"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#loginModal"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#" class="scroll-top">Back To Top</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/Share-Source-Code-Website-189970988225280/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>Copyright © 2018 Flight Tour and Travel Company</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="padding:20px 80px;">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Sign In</h2>
                </div>
                <div class="modal-body" style="padding:20px;">
                    <div class="btn-login-facebook">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <span>Sign in with Facebook</span>
                    </div>
                    <div class="btn-login-facebook">
                        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                        <span>Sign in with Google</span>
                    </div>
                    <p style="margin-top:20px">Or log in with your phone number, email</p>
                    <form action="/action_page.php">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter your password">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-warning form-control" style="border-radius:10px"><b>Sign In</b></button>
                        </div>
                    </form>
                </div>
                <div class="text-center">
                    <a href="#" style="color:blue">Forgot password</a>
                </div>
                <div class="text-center">
                    Have account? <a href="#" style="color:blue">Register an account</a>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="signUpModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="padding:20px 80px;">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Sign Up</h2>
                </div>
                <div class="modal-body" style="padding:20px;">
                    <div class="btn-login-facebook">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <span>Sign up with Facebook</span>
                    </div>
                    <div class="btn-login-facebook">
                        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                        <span>Sign up with Google</span>
                    </div>
                    <p style="margin-top:20px">Or log in with your phone number, email</p>
                    <form action="/action_page.php">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter your password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="re-pwd" placeholder="Enter your re-password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning form-control" style="border-radius:10px"><b>Sign Up</b></button>
                        </div>
                    </form>
                </div>
                <div class="text-center">
                    <a href="#" style="color:blue">Forgot password</a>
                </div>
                <div class="text-center">
                    Haven't account? <a href="#" style="color:blue">SignIn an account</a>
                </div>
            </div>

        </div>
    </div>
</body>

<!-- Mirrored from www.tooplate.com/templates/2093_flight/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 May 2018 10:39:55 GMT -->
</html>